html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;font-family: Microsoft YaHei;}
.header{
	width:100%;
	background-color:#047BCA;
	height: 90px;
	color: white;
	padding: 0px 100px;
	font-size: 35px
}
.navigation{
	overflow: hidden;
	float: left;
	width:200px;
	background-color: #0A0E20; 
	position: absolute;
	top: 90px;
	bottom: 0px;
	left: 0px;

}
.nav-1{
	list-style-type:none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
	font-size: 15px;
}
.nav-2{
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.nav-3{
	display: inline;
	color: white;
	padding-left: -10px;
	text-decoration: none;
	
}
li:hover{
	background-color: #555;
	color: white;
}
li a:hover{
	display: inline;
	color: white;
	padding-left: -10px;
	text-decoration: none;
}
footer{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	left:0px;
	background-color: #444444;
	color: white;
	text-align: center;
	padding:15px;
}
.logo{
	display: inline;
	position: absolute;
	top: 15px;
}
.title1{
	display: inline;
	position: absolute;
	top: 15px;
	left: 180px;
}
.title2{
	display: inline;
	position: absolute;
	top: 60px;
	left: 180px;
	font-size: 15px;
}
.nav-img{
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}

.content-info{
	font-family: "微软雅黑";
	font-weight:normal;
	
}

.container{
	padding-top: 30px;
	padding-bottom: 70px;
}
.proprietor-font{
	font-family:"微软雅黑";
	font-size:25px;
}

.login-info{
	float:right;
	text-size:
}

.login_info{
 	margin-top:65px;
 	font-family:"微软雅黑";
 	font-size: 15px;
 	float:right;
}

.exit-font{
   	margin-left: 5px;
   	font-size: 10px;
   	color: white;
}


.content-info{
	font-family: "微软雅黑";
	font-weight:normal;
	
}

.div-top{
	margin-top:50px;
}
